{% extends 'base.html' %}

{% block content %}
    <textarea id="chat-message" type="text"></textarea>
    <button id="submit">Send</button>

<div id="chats"></div>

<script>
    const ws = new WebSocket("ws://localhost:8000/ws/chat/{{ document_id }}/");
    const chatContainer = document.getElementById("chats");

    const submitBtn = document.getElementById("submit")
    submitBtn.onclick = () => {
        const message = document.getElementById("chat-message")
        const inputValue = message.value

        const userMessage = document.createElement("p");
        message.innerText = inputValue
        chatContainer.appendChild(userMessage);

        ws.send(JSON.stringify({'message': inputValue,
        }))

        message.value = ""

        }

    ws.onmessage = (event) => {
       const data = JSON.parse(event.data);

       const message = document.createElement("p");
       message.innerText = data.message;
       chatContainer.appendChild(message);
    };

    ws.onopen = () => {
     console.log("Connected");
    };

    ws.onclose = () => {
     console.log("Disconnected");
    };
</script>

{% endblock %}